@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800');

#about {
    padding-top: 120pt;
}

.text {
    font-family: "Raleway ExtraBold", serif;
    text-align: center;
    letter-spacing: 0.15em;
    font-size: 26pt;
}

.blueLine {
    border-bottom: 2px solid #3366ff;
    width: 92pt;
    display: block;
    margin: auto;
}

.story {
    text-align: center;
    font-family: "Raleway Regular", serif;
    font-size: 12pt;
    line-height: 22pt;
    padding-top: 22px;
}

.gif {
    text-align: center;
    width: 400px;
}

.gif img {
    text-align: center;
}

#gifs {
    padding-top: 20pt;
    margin: auto;
}

span {
    padding-top: 25px;
    display: block;
}

#developer:hover {
    content: url("../images/developer.gif");
}

#gamer:hover {
    content: url("../images/gamer.gif");
}

#music:hover {
    content: url("../images/music_lover.gif");
}
