@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800');

#skills {
    display: block;
    background: url("../images/blue_bg.png") no-repeat 50% 50%;
    height: 378px;
}

#skills > p {
    font-family: "Raleway ExtraBold", serif;
    letter-spacing: 0.15em;
    font-size: 20pt;
    text-align: center;
    color: white;
    padding-top: 70px;
}

#skillsWhiteLine {
    border-bottom: 2px solid white;
    width: 92pt;
    display: block;
    margin: auto;
    padding-top: 20px;
}

#skillTable {
    position: relative;
    margin: auto;
    padding-top: 25px;
}

.fullSkillName {
    text-align: center;
    font-size: 18px;
    letter-spacing: 0.12em;
    font-family: "Raleway ExtraBold", serif;
}

.skillIcon {
    height: 200px;
    width: 400px;
}

#htmSkill {
    color: white;
}

#reactreduxSkill {
    color: white;
}

#JSSkill {
    color: white;
}

#htmSkill:hover  {
    color: #3366ff;
    background: white;
}

#htmlcss {
    background: url("../images/html_w.png") no-repeat center;
    height: 53px;
}

#htmSkill:hover #htmlcss {
    background: url("../images/html_b.png") no-repeat center;
}

#reactredux {
    background: url("../images/react_w.png") no-repeat center;
    height: 54px;
}

#reactreduxSkill:hover {
    color: #3366ff;
    background: white;
}

#reactreduxSkill:hover #reactredux{
    background: url("../images/react_b.png") no-repeat center;
}

#javascript {
    background: url("../images/js_w.png") no-repeat center;
    height: 58px;
}

#JSSkill:hover #javascript {
    background: url("../images/js_b.png") no-repeat center;
}

#JSSkill:hover {
    color: #3366ff;
    background: white;
}
