@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800');

html, body {
    margin: 0;
    display: block;
}

#header {
    position: fixed;
    display: block;
    width: 100%;
    min-height: 65px;
    background: black;
    z-index: 1;
}

#socialNet {
    padding-top: 20px;
    padding-left: 100px;
    float: left;
}

#gmail:hover {
    content: url("../images/email_w.png");
}

#github {
    padding-right: 40px;
}

#github:hover {
    content: url("../images/github_w.png");
}

#fb {
    padding-right: 40px;
}

#fb:hover {
    content: url("../images/facebook_w.png");
}

#links {
    font-family: "Raleway SemiBold", sans-serif;
    color: #3366ff;
    float: right;
    padding-right: 100px;
}

#list {
    padding-top: 7px;
}

#list li {
    display: inline;
    margin: 20px;
    letter-spacing: 0.1em;
}

li:hover {
    color: white;
    cursor: pointer;
}
